
<div class="wrapper">  
  <center> 
  <img src="{{ site.author.thumb | prepend: site.baseurl }}" alt="author thumb" class="avatar">
	<a href="/index.html">
      <div class="site-title">  
  	   {{site.title}} 
  	  </div>
  </a>

  <a href="https://www.wikiwand.com/en/Everybody%27s_Changing">
      <div class="site-description">  
       {{site.description}} 
      </div>
  </a>


  </center>
</div>
<div class="wrapper">
<center>
  <div class="trigger site-navigation">
    <a class="page-link" href="{{site.url}}{{site.baseurl}}">HOME</a><span class="exclamationMark">/</span>
    <a class="page-link" href="{{site.url}}{{site.nav.archive_url}}">Archive</a> <span class="exclamationMark">/</span>
    <a class="page-link" href="{{site.url}}{{site.nav.photo_url}}">Photo</a><span class="exclamationMark">/</span>
    <a class="page-link" href="{{site.url}}{{site.nav.about_url}}">About</a>
  </div>
  </center>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93555194-1', 'auto');
  ga('send', 'pageview');

</script>