
<div class="wrapper">
  
    
  <center> 
  <img src="{{ site.author.thumb | prepend: site.baseurl }}" alt="author thumb" class="avatar">
	<a href="/index.html"><div class="site-title">  
  	 {{site.title}} 
  	 </div></a>
  </center>
</div>
<div class="wrapper">
<center>
  <div class="trigger site-navigation">
    <a class="page-link" href="{{site.url}}{{site.baseurl}}">HOME</a><span class="exclamationMark">/</span>
    <a class="page-link" href="{{site.url}}{{site.nav.archive_url}}">Archive</a> <span class="exclamationMark">/</span>
    <a class="page-link" href="{{site.url}}{{site.nav.photo_url}}">Photo</a><span class="exclamationMark">/</span>
    <a class="page-link" href="{{site.url}}{{site.nav.about_url}}">About</a>
  </div>
  </center>
</div>
